/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Commons */
a,
button,
h1,
h2,
h3,
h4 {
  color: rgb(40, 40, 40);
}

/* System */
.wrapped {
  padding: 0 20%;
}

/* Navbar */
nav {
  width: 100vw;
  min-height: 8vh;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(1rem);
}
nav,
a {
  text-decoration: none;
  font-size: 0.9rem;
}
.nav-links a,
.nav-links button {
  margin-left: 2rem;
}
.logo {
  font-size: 1rem;
  font-weight: bold;
}
.buy-button {
  padding: 0.2rem 2rem;
  font-size: 0.6rem;
  background-color: #3056f5;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

/* Front page */
.first-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first-page-text {
  margin-bottom: 10rem;
  text-align: center;
  z-index: 2;
}
.first-page-title {
  font-size: 2rem;
}
.first-page-subtitle {
  font-size: 3rem;
}
.intro-video {
  position: absolute;
}

/* Smoke page */
.second-page {
  min-height: 125vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
}
.smoke-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}
.smoke-text {
  padding: 5% 30%;
  position: relative;
  z-index: 2;
  font-size: 3.5rem;
  font-weight: bold;
}

/* Split Phone Page */
.third-page {
  position: relative;
}
.product-text-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}
.phone-size {
  font-size: 2rem;
  font-weight: bold;
}
.pro-size {
  text-align: right;
}
.max-size {
  text-align: left;
}
.product-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.large-phone {
  position: relative;
  transform: translateX(40%) scale(0.8);
  z-index: 1;
}
.small-phone {
  position: relative;
  transform: translateX(-40%) scale(0.8);
  z-index: 2;
}
.retina-line {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  font-size: 0.8rem;
  font-weight: bold;
}

/* Carousel */
.fourth-page {
  min-height: 100vh;
  display: flex;
  position: relative;
}
.purchase-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
}
.phone-gallery {
  display: flex;
  align-self: flex-start;
}
.phone-gallery-container {
  min-width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone-gallery img {
  transform: scale(0.8);
}
.swatch-container {
  text-align: center;
}
.swatches img {
  padding: 0.5rem 0.3rem;
  cursor: pointer;
}
.swatch-container span {
  font-size: 0.8rem;
}
.purchase-right {
  position: relative;
  flex: 1;
  background-color: #000;
}
.purchase-right img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-49.5%, 0) scale(0.8);
  transform-origin: bottom;
}

/* Product page */
.fifth-page {
  min-height: 100vh;
}
.product-video {
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  z-index: 1;
}
.product-info-container {
  min-height: 100vh;
  padding: 0 10rem;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-info,
.right-info {
  width: 20%;
}
.left-info h3,
.right-info h3 {
  padding: 3rem 0;
  color: rgb(193, 193, 193) !important;
}
.left-info span,
.right-info span {
  font-size: 1.5rem;
}

/* Final page */
.sixth-page {
  min-height: 100vh;
  padding: 10% 20%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.portrait {
  height: 70vh;
}
.photo-title {
  font-size: 2rem;
}
.photo-subtitle {
  font-size: 4rem;
}
.phone-video {
  position: absolute;
  bottom: 10rem;
  left: 40%;
  transform: translate(-40%, 0);
  z-index: 2;
}
.phone-video img,
.phone-video video {
  position: absolute;
}
.phone-video img {
  bottom: 0;
  left: 0;
  z-index: 2;
  transform: scale(0.8);
}
.phone-video video {
  left: 1rem;
  bottom: 1rem;
  transform: scale(0.8);
  border-radius: 2rem;
}
